In [2]:
import pandas as pd
import numpy as np

In [8]:
df = pd.DataFrame([
    ['2022-01-01', 'A', 10, 'rahul'],
    ['2022-01-01', 'B', 20, 'rahul'],
    ['2022-01-01', 'B', 50, 'rahul'],
    ['2022-01-02', 'A', 30, 'rahul'],
    ['2022-01-02', 'B', 40, 'rahul'],
    ['2022-01-02', 'C', 10, 'vidu'],
    ['2022-01-02', 'C', 30, 'vidu'],
    ['2022-01-02', 'C', 30, 'vidu'],
    ['2022-01-03', 'D', 20, 'vidu'],
], columns=['Date', 'Category', 'Qty', 'Customer'])

In [9]:
table = df.pivot_table(values='Qty', index='Date', columns='Category', aggfunc='sum')
table

Category       A     B     C     D
Date
2022-01-01  10.0  70.0   NaN   NaN
2022-01-02  30.0  40.0  70.0   NaN
2022-01-03   NaN   NaN   NaN  20.0

In [10]:
type(table)
table.index
table.columns

pandas.core.frame.DataFrame

Index(['2022-01-01', '2022-01-02', '2022-01-03'], dtype='object', name='Date')

Index(['A', 'B', 'C', 'D'], dtype='object', name='Category')

In [11]:
df.pivot_table(values='Qty', index='Date', columns='Category', aggfunc='count')

Category      A    B    C    D
Date
2022-01-01  1.0  2.0  NaN  NaN
2022-01-02  1.0  1.0  3.0  NaN
2022-01-03  NaN  NaN  NaN  1.0

In [15]:
df.pivot_table(values='Category', index='Qty', columns='Date', aggfunc='count', fill_value=0)

Date  2022-01-01  2022-01-02  2022-01-03
Qty
10             1           1           0
20             1           0           1
30             0           3           0
40             0           1           0
50             1           0           0

In [17]:
table = df.pivot_table(values='Qty', index=['Customer', 'Category'],
                       columns='Date', aggfunc='sum', fill_value=0)
table

Date               2022-01-01  2022-01-02  2022-01-03
Customer Category
rahul    A                 10          30           0
         B                 70          40           0
vidu     C                  0          70           0
         D                  0           0          20

In [20]:
type(table)
table.index
table.columns

pandas.core.frame.DataFrame

MultiIndex([('rahul', 'A'),
            ('rahul', 'B'),
            ( 'vidu', 'C'),
            ( 'vidu', 'D')],
           names=['Customer', 'Category'])

Index(['2022-01-01', '2022-01-02', '2022-01-03'], dtype='object', name='Date')